*
{
    margin: 0;
    padding: 0;
}

header
{
    background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.3)), url(images/overwatchBack.jpg);
    background-size: cover;
    height: cover;
    width: cover;
}

.hero h1
{
    padding-top: 25px;
}

.hero h1 a
{
    margin-left: 5px;
    text-decoration: none;
    font-size: 200%;
    color: #310eb2;
}

body
{
    background-color:#000;
    font-family: monospace, serif;
}

.topOfPage
{
    width: 100%;
    position:fixed;
}

.top-navigation
{
    background-color: #1b0056;
}

.top-navigation li
{
    
    display:inline-block;
}

.top-navigation li a
{
    color: floralwhite;
    text-decoration: none;
    font-weight: bold;
    font-size: 130%;
    margin: 30px;
}

.backToTop
{
    margin-top: 1500px;
    
}

#aboutUsTopLink
{
    margin-top: 0px;
}

#rosterTopLink
{
    margin-top: 0px;
}


#afterDuoPic
{
    font-family: Cambria, serif;
    font-size: 20px;
    font-style: italic;
}

#dkCrewVid
{
    display: block;
    margin: 0 auto;
}

.backToTop a
{
    margin-left: 15px;
    text-decoration: none;
    color: #310eb2;
    font-size: 130%;
}

.rosterGroup:before
{
    width:95vw;
    height:1px;
    background-color:#310eb2;
    display: block;
    content: " ";
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 10px;
}

.tile
{
    font-family: Palatino;
    text-align: center;
    color: #310eb2;
}

.tile h1
{
    border-left-style: solid;
    border-left-width: 5px
    
}

.tile img
{
    display: block;
    margin: auto;
    height: auto;
    width: 30%;
}

#pepe img
{
    height: 250px;
}

.tile p
{
    text-align: center;
    font-size: 30px;
    color: black;
}