header
{
    background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.3)), url(images/overwatchBack.jpg);
    background-size: cover;
    height: cover;
    width: cover;
}

.hero h1 a
{
    margin-left: 5px;
    text-decoration: none;
    font-size: 200%;
    color: #310eb2;
}

body
{
    background-color:#000;
    font-family: monospace, serif;
}

.top-navigation
{
    float: right;
    
}

.top-navigation li
{
    display:inline-block;
    margin: 15px;
}

.top-navigation li a
{
    color: #310eb2;
    text-decoration: none;
    font-weight: bold;
    font-size: 130%;
}

.backToTop
{
    margin-top: 1500px;
    
}

#roster
{
    margin-top: 0px;
}

.backToTop a
{
    margin-left: 15px;
    text-decoration: none;
    color: #310eb2;
    font-size: 130%;
}

.rosterGroup:before
{
    width:95vw;
    height:1px;
    background-color:#310eb2;
    display: block;
    content: " ";
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 10px;
}

.tile
{
    font-family: Palatino;
    text-align: center;
    color: #310eb2;
}

.tile h1
{
    border-left-style: solid;
    
}

.tile img
{
    display: block;
    margin: auto;
    height: auto;
    width: 30%;
}

#pepe img
{
    height: 250px;
}

.tile p
{
    text-align: center;
    font-size: 30px;
    color: black;
}